* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

html {
    font-size: 16px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "apple color emoji", "segoe ui emoji", "Segoe UI Symbol", "noto color emoji";
}

body {
    background-color: #111111;
    background-image: linear-gradient(-45deg, rgba(144, 144, 144, 0.15), #111111 30% 70%, rgba(144, 144, 144, 0.15));
    backdrop-filter: blur(15px);
    overflow-x: hidden;
}

main {
    min-height: 100vh;
    width: 100vw;
    padding: 6rem 1.5rem;
    display: flex;
    justify-content: center;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    pointer-events: none;
}

.container {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    color: white;
}

.container .icon {
    line-height: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.container .top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container .top h1 {
    font-size: 3.5rem;
}

.container .top .list-container {
    max-height: 600px;
    overflow-y: auto;
    border-radius: 0.5rem;
    clip-path: stroke-box;
}

.top .list-container::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    border-radius: 1rem;
    background-color: transparent;
}

.top .list-container::-webkit-scrollbar-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 1rem;
}

.list-container .list {
    list-style: none;
}

.list-container .list .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #404040;
    flex-wrap: nowrap;
    transition: background 0.3s ease;
}

.list-container .list .item:nth-last-child(1) {
    border-bottom: 0;
}

.list-container .list .item:hover {
    background-color: #202020;
}

.list .item .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    flex-grow: 2;
    flex-wrap: nowrap;
}

.item .left .drag {
    cursor: grab;
}

.item .left .drag:active {
    cursor: grabbing;
}

.item.dragging :where(.left, .right) {
    opacity: 0;
}

.checkbox {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: -0.5rem;
    flex-shrink: 0;
    cursor: pointer;
}

.item .left .task {
    font-weight: 400;
}

.list .item .right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.item.done .left .checkbox {
    background-color: #ffd400;
}

.item.done .left .task {
    text-decoration: line-through;
    color: #ffd400;
}

.container .bottom .addItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #404040;
    padding: 1rem;
    flex-wrap: nowrap;
}

.bottom .addItem .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.addItem .left .checkbox {
    cursor: auto;
    display: none;
    pointer-events: none;
    margin: 0;
}

.addItem .left #task-description {
    background-color: transparent;
    width: 100%;
    padding: 0.5rem 0;
}

.bottom .addItem .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}

.addItem .add {
    padding: 0.5rem;
    background-color: #404040;
    border-radius: 50%;
}

.addItem .right .add {
    display: none;
}

.addItem:has(input:valid) .right .add,
.addItem:has(input:valid) .left .checkbox {
    display: block;
}

.addItem:has(input:valid) .left .add {
    display: none;
}

@media screen and (max-width: 420px) {
    .container .top h1 {
        font-size: 3rem;
    }

    .item .left .task {
        font-size: 14px;
    }

    main {
        padding: 3rem 1.5rem;
    }
}